/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// NOTE: Removed Italian layout include for pure US output.
// #include "keymap_italian.h"
// Layer definitions

#define BASE 0
#define SYM 1
#define EXT 2
#define FNC 3
#define SYM2 4
#define ACCENT 5
#define SETTINGS 6

// -----------------

/ {
    macros {
        // sometimes my device thinks a modifier is being held down
        // pressing all modifiers fixes it.

        Hyper: Hyper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp LCTRL &kp LSHIFT &kp LEFT_GUI>;
            label = "HYPER";
        };
    };

    combos {
        compatible = "zmk,combos";

        // both right thumb keys
        // internal-left & external-right thumb keys
        // both left thumb keys
    };

    behaviors {
        Inequalities: Inequalities {
            compatible = "zmk,behavior-tap-dance";
            label = "INEQUALITIES";
            #binding-cells = <0>;
            bindings = <&kp LT>, <&kp GT>;
        };

        Parentheses: Parentheses {
            compatible = "zmk,behavior-tap-dance";
            label = "PARENTHESES";
            #binding-cells = <0>;
            bindings = <&kp LPAR>, <&kp RPAR>;
        };

        Curly_Braces: Curly_Braces {
            compatible = "zmk,behavior-tap-dance";
            label = "CURLY_BRACES";
            #binding-cells = <0>;
            bindings = <&kp LBRC>, <&kp RBRC>;
        };

        Brackets: Brackets {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACKETS";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };

        Soft_Off_Both: Soft_Off_Both {
            compatible = "zmk,behavior-soft-off";
            label = "SOFT_OFF_BOTH";
            #binding-cells = <0>;
            split-peripheral-off-on-press;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Base alpha layer

        Letters {
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T         &kp Y        &kp U       &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F  &kp G         &kp H        &kp J       &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C  &kp V  &kp B         &kp N        &kp M       &kp COMMA  &kp DOT  &kp SLASH
                     &none  &kp LSHIFT    &lt 1 SPACE  &kp RETURN
            >;

            label = "Letters";
        };

        Number {
            bindings = <
&none  &kp N7        &kp N8        &kp N9        &none    &none  &none         &none          &none      &none
&none  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &none    &none  &Parentheses  &Curly_Braces  &Brackets  &Inequalities
&none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none    &none  &none         &trans         &trans     &none
                                   &kp N0        &none    &none  &none
            >;

            label = "Number";
        };

        sym_layer {
            bindings = <
&kp N1  &kp N2     &kp N3    &kp N4    &kp N5      &kp N6     &kp N7     &kp N8   &kp N9     &kp N0
&kp LT  &kp DLLR   &kp LPAR  &kp LBRC  &kp LBKT    &kp EQUAL  &kp QMARK  &kp SQT  &kp MINUS  &kp ASTRK
&kp GT  &kp PRCNT  &kp RPAR  &kp RBRC  &kp RBKT    &kp AT     &kp EXCL   &kp DQT  &kp PLUS   &kp FSLH
                             &mo 4     &mo 5       &none      &none
            >;
        };

        ext_layer {
            bindings = <
&kp ESC    &none      &none       &none      &none        &kp PG_UP     &kp HOME  &kp UP    &kp END    &kp CAPS
&sk LALT   &sk LGUI   &sk LSHIFT  &sk LCTRL  &kp RALT     &kp PG_DN     &kp LEFT  &kp DOWN  &kp RIGHT  &kp DEL
&kp LC(Z)  &kp LC(X)  &kp LC(C)   &kp TAB    &kp LC(V)    &kp LC(BSPC)  &kp BSPC  &none     &none      &none
                                  &none      &kp LCTRL    &kp ENTER     &mo 4
            >;
        };

        fnc_layer {
            bindings = <
&kp F1    &kp F2    &kp F3      &kp F4     &kp F5      &kp F6   &kp F7   &kp F8           &kp F9  &kp F10
&sk LALT  &sk LGUI  &sk LSHIFT  &sk LCTRL  &kp RALT    &kp F11  &kp F12  &kp PRINTSCREEN  &none   &none
&none     &none     &none       &none      &none       &none    &none    &none            &none   &none
                                &none      &none       &none    &none
            >;
        };

        symbols_2_layer {
            bindings = <
&kp CARET  &kp UNDER  &kp HASH  &none     &kp HASH    &none  &none  &none  &none  &none
&kp GRAVE  &kp TILDE  &kp BSLH  &kp PIPE  &kp AMPS    &none  &none  &none  &none  &none
&none      &none      &none     &none     &none       &none  &none  &none  &none  &none
                                &none     &none       &none  &none
            >;
        };

        settings_layer {
            bindings = <
&bootloader   &sys_reset    &soft_off     &none         &none           &none       &none  &soft_off  &sys_reset  &bootloader
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &bt BT_CLR  &none  &none      &none       &none
&none         &none         &none         &none         &none           &none       &none  &none      &none       &none
                                          &none         &none           &none       &none
            >;
        };
    };
};
